<h1>Cursos</h1> 
<a href="/cursos/add" class="btn btn-success mb-3">Add Cursos</a>
<a href="/cursos/edit" class="btn btn-warning mb-3">Edit Cursos</a> 
<a href="/cursos/add" class="btn btn-danger mb-3">Delete Cursos</a>  
<table class="table table-bordered"> 
  <thead> 
    <tr>
      <th>ID</th> 
      <th>Nome</th> 
      <th>Ações</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr> 
      <td></td> 
      <td></td> 
      <td> 
      </td> 
    </tr> 
  </tbody> 
</table> 