<h1>Alunos</h1> 
<a href="/alunos/add" class="btn btn-success mb-3">Add Alunos</a> 
<a href="/alunos/edit" class="btn btn-warning mb-3">Edit Alunos</a> 
<a href="/alunos/add" class="btn btn-danger mb-3">Delete Alunos</a>  
<table class="table table-bordered"> 
  <thead> 
    <tr>
      <th>ID</th> 
      <th>Nome</th> 
      <th>Ações</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr> 
      <td></td> 
      <td></td> 
      <td> 
      </td> 
    </tr> 
  </tbody> 
</table> 